@charset "utf-8";
$baseFontSize:12px;
.margin{width:1200px;margin: auto;}
header{background:url(../img/top_bg.gif) repeat;height: 215px;box-sizing: border-box;}
header .header{display: flex;position: relative;color:#fff;}
header .header_left{margin-top: 14px;position: relative;width:100px;color:#fff;}
header .header_left h3{position: absolute ;left:35px;top:0px;width:100px;font:14px/16px "";}
header .header_left p{position: absolute ;left:35px;top:16px;width:100px;font:12px/18px "";}
header .header_left p em{ display:inline-block;font:8px/18px "";}
header .logo{position: absolute ;left: 0;right: 0;margin: auto;margin-top: 98px ;width:268px;}
header .header_right{position:absolute;right:0;height:41px;border-bottom: 1px solid #edc89e;display: flex;}
header .header_right ul{display: flex;}
header .header_right li{line-height: 40px;margin-left:34px}
header .header_right li:nth-child(1){margin-left:0;}
header .header_right li a{color:#fff; }

nav{background: #16151b;border-top: 1px solid #edc89e;border-bottom:1px solid #413935;height: 50px;}
nav .nav{height:50px;position: relative;}
nav .nav_left{float:left;display: flex;}
nav .nav_left li{color: #fff;margin:0 20px;}
nav .nav_left li:hover{border-bottom:2px solid #edc89e;}
nav .nav_left li:hover a{color:#edc89e;}
nav .nav_left li a{display:flex;font:14px/49px "";color: #fff;padding:0 10px;}
nav .nav_right{float:right;display: flex;}
nav .nav_right li{float:right;display: flex;color:#fff;font:12px/49px "";}
nav .nav_right li span{color:#edc89e;font:12px/49px "";padding:0 32px;}
nav .nav_right li a{float:right;display: flex;color:#fff;}
nav .nav .brand{display: flex;align-content: space-between;position: absolute;top:52px;}
nav .nav .brand dl{position: relative;}
nav .nav .brand dl dt{position: absolute;background: url(../img/brands.jpg);width:217px; height:172px;}
nav .nav .brand dl dd{position: absolute;background: #999;width:217px; height:172px;opacity: .3;z-index: 999;}